<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github主页</title>
      <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    #container {
        width: 40%;
        margin-left: 30%;
    }
</style>
</head>
<body>
    <div id="container">
        <h1>已授权第三方应用信息</h1><br/>

         <% if (infos) { %>
            <div>
                <strong>clientId:</strong> <%= infos.clientId %> <br/>
                <strong>clientSecret:</strong> <%= infos.clientSecret %>
                <br/>
                <br/>
                <a type="button" class="btn btn-warning" href="/api/revokeToken?clientId=<%= infos.clientId %>">收回Token</a>
                <a type="button" class="btn btn-danger" href="/api/deleteApp?clientId=<%= infos.clientId %>">删除应用</a>
                <a type="button" class="btn btn-primary" href="/api/registerApp">注册一个新的App</a>
            </div>
            <br/>
            <form name="appInfo" method="post" action="/api/modifyApp">
                <div class="form-group">
                    <label>Application name:</label>
                    <input class="form-control" type="text" value="<%= infos.name %>" name="appName"/>
                </div>
                <div class="form-group">
                    <label>Homepage URL:</label>
                    <input class="form-control" value="<%= infos.homepage %>" type="text" name="homepage"/>
                </div>
                <div class="form-group">
                    <label>Application description</label>
                    <textarea class="form-control" name="description"><%= infos.description %></textarea>
                </div>
                <div class="form-group">
                    <label>Authorization callback URL</label>
                    <input class="form-control" type="text" value="<%= infos.redirectUri %>" name="redirectUri"/>
                </div>
                <div class="checkbox">
                    授权：
                    <label class="checkbox-inline">
                        <input type="checkbox" <% if (infos.scope.indexOf('userInfo') !== -1) { %> checked <% } %> name="scope" value="userInfo"> 获取用户信息
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" <% if (infos.scope.indexOf('articles') !== -1) { %> checked <% } %> name="scope" value="articles"> 获取用户文章
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" <% if (infos.scope.indexOf('secret') !== -1) { %> checked <% } %> name="scope" value="secret"> 获取用户秘密
                    </label>
                </div>
                <button type="submit" class="btn btn-success">提交修改</button>
            </form>
         <% } %>
        <% if (!infos) { %>
            <a href="/api/registerApp">注册一个应用</a>
        <% } %>
    </div>
</body>
</html>